<html>
<body>
<%= title %><% if date %> / <%= date %><% end %><% if author %> [<%= author %>]<% end %><br />
<% if description %><br />
<%= description %><br />
<% end %><br />
<% if body %><br />
<%= body %><br />
<% end %><br />
&lt;<%= link %>&gt;
</body>
</html>
